* {
    /* background-color: #a2bda6; */
    background-color: #738965;
}

.profile-pic {
    border-radius: 40px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 65px;
}

.nav-bar {
    text-align-last: center;
}

.links {
    color: whitesmoke;
    padding: 10px;
    border: solid #a0ae97;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

p {
    text-align: center;
    color: whitesmoke;
}

.about-annapham {
    /* background-color: #738965; */
}